/* maybe the vh on body or 
html is a bad idea if switching 
frrom desktop to mobile */
body {
  height: 50vh;
  background-color: rgb(168, 168, 168);
  overflow: hidden;
}

.container {
  position: relative;
  height: 100%;
  font-size: 50px;
  color: rgb(0, 185, 199);
  left: 4%;
}

.wave {
  border: 7px dotted;
  position: absolute;
  transform: rotate(-44.5deg);
  animation: wave 5s infinite alternate;
}

@keyframes wave {
  to {
    transform: rotate(545deg);
  }  
}

.wave:nth-child(1) {
  width: 9.5125em;
  height: 9.5125em;
  bottom: -4.75625em;
  left: 0.24375;
  border-color: transparent transparent
  blue rgb(0, 221, 255);
  border-radius: 9.5125em;
}

.wave:nth-child(2) {
  width: 9em;
  height: 9em;
  bottom: -4.5em;
  left: 0.48;
  border-color: transparent transparent
  blue rgb(0, 221, 255);
  border-radius: 9em;
  animation-delay: 150ms;
}
.wave:nth-child(3) {
  width: 8.5em;
  height: 8.5em;
  bottom: -4.25em;
  left: 0.75;
  border-color: transparent transparent
  blue rgb(0, 221, 255);
  border-radius:8.5em;
  animation-delay: 225ms;
}
.wave:nth-child(4) {
  width: 8em;
  height: 8em;
  bottom: -4em;
  left: 0.97;
  border-color: transparent transparent
  blue rgb(0, 221, 255);
  border-radius: 8em;
  animation-delay: 300ms;
}
.wave:nth-child(5) {
  width: 7.5em;
  height: 7.5em;
  bottom: -3.7em;
  left: 1.2;
  border-color: transparent transparent
  blue rgb(0, 221, 255);
  border-radius: 7.5em;
  animation-delay: 375ms;
}
.wave:nth-child(6) {
  width: 7em;
  height: 7em;
  bottom: -3em;
  left: 1.5;
  border-color: transparent transparent
  blue rgb(0, 221, 255);
  border-radius: 7em;
  animation-delay: 425ms;
}
.wave:nth-child(5) {
  width: 7.5em;
  height: 7.5em;
  bottom: -3.7;
  left: 1.2;
  border-color: transparent transparent
  blue rgb(0, 221, 255);
  border-radius: 7.5em;
  animation-delay: 375ms;
}
.wave:nth-child(5) {
  width: 7.5em;
  height: 7.5em;
  bottom: -3.7;
  left: 1.2;
  border-color: transparent transparent
  blue rgb(0, 221, 255);
  border-radius: 7.5em;
  animation-delay: 375ms;
}
.wave:nth-child(5) {
  width: 7.5em;
  height: 7.5em;
  bottom: -3.7;
  left: 1.2;
  border-color: transparent transparent
  blue rgb(0, 221, 255);
  border-radius: 7.5em;
  animation-delay: 375ms;
}
